> **A2: Python Exercises**

---



Debanhy Alvarado Rivera 1914796 

---


Class 1, Tuesday N4

---

In [9]:
name = str(input("Enter your name: "))
if name == ("Ana"):
  print("Invalid name")
elif name == ("John"):
  print("Invalid name")
elif name == ("Peter"):
  print("Invalid name")
else:
  print("Hello, ", name)

Enter your name: John
Invalid name

In [10]:
def mf(elm1, elm2, elm3, elm4):
  print("The last element is " + elm4)
mf(elm1 = "Jennie", elm2 = "Lisa", elm3 = "Rose", elm4 = "Jisso")

print()

def function(lst):
  print(lst[-1])
  for x in range(len(lst)):
    print(lst[x])

List = ["Jennie", "Lisa", "Rose", "Jisso"]
function(List)

The last element is Jisso

Jisso
Jennie
Lisa
Rose
Jisso

In [2]:
def txt_in_frame(*words):
  size = max(len(word) for word in words)
  print("*" * (size + 4))
  for word in words:
    print("*  {:<{}} * ".format(word, size))
  print("*"*(size + 4))

txt_in_frame("Hello", "My", "Name", "Is", "Debanhy")

***********
*  Hello   *
*  My      *
*  Name    *
*  Is      *
*  Debanhy *
***********